POSTGRES_USER=user
POSTGRES_DB=index
POSTGRES_PASSWORD=pass
POSTGRES_HOST=host
POSTGRES_PORT=5432


ES_HOST=host
ES_PORT=9200

MOVIES_ES_INDEX=index
GENRES_ES_INDEX=index
PERSONS_ES_INDEX=index

POLL_INTERVAL_SECONDS=10
STORAGE_FILE_NAME=/data/state.json
LOG_LEVEL=DEBUG

PROJECT_NAME=movies
REDIS_HOST=host
REDIS_PORT=6379