POSTGRES_PASSWORD=pass
POSTGRES_USER=user
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TEST_DATABASE_URL=postgresql+asyncpg://profile_test:profile_test@localhost:5433/profile_test

JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256

DEBUG=true