POSTGRES_PASSWORD=pass
POSTGRES_USER=user
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TEST_DATABASE_URL=postgresql+asyncpg://profile_test:profile_test@localhost:5433/profile_test

JWT_PUBLIC_KEY_PATH=/run/secrets/jwt/public.pem
JWT_ALGORITHM=RS256

DEBUG=true