SQLAlchemy==2.0.51
alembic==1.18.5
fastapi==0.139.0
pydantic-settings==2.14.2
uvicorn==0.51.0
phonenumbers==9.0.34
asyncpg==0.31.0
greenlet==3.5.3
psycopg2-binary==2.9.12
python-jose[cryptography]==3.5.0