# Postgres
DB_NAME=name
DB_USER=user
DB_PASSWORD=pass
DB_HOST=host
DB_PORT=1111

# Django
SECRET_KEY=django-insecure-wpn6wcru_key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=True
DJANGO_SUPERUSER_LOGIN=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
AUTH_API_LOGIN_URL=http://login
AUTH_API_TIMEOUT=2