RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_VHOST=/

POSTGRES_HOST=postgres
POSTGRES_PASSWORD=your-pass
POSTGRES_USER=postgres
POSTGRES_DB=notification
POSTGRES_PORT=5432