RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_VHOST=/

POSTGRES_HOST=postgres
POSTGRES_PASSWORD=your-pass
POSTGRES_USER=postgres
POSTGRES_DB=notification
POSTGRES_PORT=5432

SMTP_HOST=host
SMTP_PORT=465
SMTP_USER=user
SMTP_PASSWORD=pass
SMTP_FROM=example@mail.com

AUTH_BASE_URL=http://auth:8000/api/v1
AUTH_USER_URL=/users/{user_id}

NOTIFICATION_SERVICE_TOKEN=security-token